<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Libraries/angular.min.js"></script>
    <link href="Libraries/bootstrap.css" rel="stylesheet">
    <link href="Libraries/bootstrap-theme.css" rel="stylesheet">
    <script>
        var app = angular.module('sampleApp',[])
        app.controller('SampleAppCtr',function($scope){
            $scope.items = [{"name":"name1","value":"nalueq","property1":"prop1"},
                {"name":"name2","value":"val3","property1":"prop2"},
                {"name":"name3","value":"val3","property1":"prop3"},
                {"name":"name4","value":"nalueq4","property1":"prop4"},
                {"name":"name5","value":"val5","property1":"prop5"},
                {"name":"name6","value":"val6","property1":"prop6"}];
        });
    </script>
</head>
<body>
<div ng-controller="SampleAppCtr">
 <p ng-repeat="item in items">
     <span ng-repeat="property in item">{{property}}</span>
 </p>

</div>
</body>
</html>